@charset "UTF-8";
*{
  margin: 0;
  padding: 0;

}

header{
  display: block;
}
html{
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

p{
  color: #FFF;
  font-size: 1.3em;
}
li{
  color: #FFF;
  font-size: 1em;
}
h1{
  color: #FFF;
  letter-spacing: 0.1em;
}

h2{
  color: #AFEEEE;
  letter-spacing: 0.1em;
  font-size: 1.5em;
  text-align: center;
}
h3{
  color: #FFF;
  font-size: 1.3em;
  font-weight: normal;
  text-align: justify;
}

#wrapper{
    margin: 0 auto;
    padding: 0 auto;
}

#wrapper, header {
  width: auto%;
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  transition: opacity 1s ease, filter 1s ease;
  font-family: 'Roboto', sans-serif;
}

#header {
    text-align: center;
    font-size: 1.2em;
}

#header h1{
  padding: 0.5em 0 1em 0;
}

#header .avatar{
  border-radius: 100%;
  display: inline-block;
  margin: 0 0 2em 0;
  padding: 0.5em;
  border: solid 1px #808080;
  background-color: #A9A9A9;
}

#header .avatar img{
  border-radius: 100%;
  display: block;
  min-width: 5em;
  max-width: 10em;
}

body{
  color: #8f8f8f;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 200;
  line-height: 1.65;
  background-color: #f8f8f8;
  border-top: 5px solid #7e7e7e;
  background-image: url("../images/background.jpg");
  background-size: auto;
  background-position: top center;
  }

.tabs {
  min-width: 40em;
  max-width: 80em;
  position: relative;
	margin: 0 auto;
}

.tabs label {
	color: #FFF;
  font-size: 2.5em;
  background: none;
  cursor: pointer;
	display: block;
	float: left;
	width: 8em;
	height: 3.5em;
	line-height: 3em;
	position: relative;
	top: 0.3em;
	text-align: center;
}

.tabs input {
	position: absolute;
  display: none;
}

#tab_1:checked  ~ #tab_l1,
#tab_2:checked  ~ #tab_l2,
#tab_3:checked  ~ #tab_l3,
#tab_4:checked  ~ #tab_l4 {
  background: none;
  border-color: #fff;
  color: #AFEEEE;
  top: 0;
	z-index: 3;
}

.tabs_cont {
  opacity: 1;
  background: none;
  position: relative;
	z-index: 2;
	max-height: 70em;
  clear:both;
}

.tabs_cont > div {
	position: absolute;
  left: -99999px;
	top: 0;
	opacity: 0;
	transition: opacity .5s ease-in-out;
}
#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3,
#tab_4:checked ~ .tabs_cont #tab_c4 {
	position: static;
  font-size: 1em;
  left: 0;
	opacity: 1;
}
#tab_c4 a{
  text-decoration: none ;
}

  #tab_c4  a:link { color: #FFF; }
  #tab_c4   a:hover { color: #0000FF; }


.scrollbox{
  overflow: auto;
  max-height: 70em;
  background-attachment: local, local, scroll, scroll;
}
#list{
  padding-left: 2em;
  display: list-item;
}

@media screen and (max-width: 1280px) {
  .tabs {
    padding: 2em 0 3em 0;
  }
  body {
    font-size: 0.7em;
  }
  p{
    font-size: 2em;
  }
  h2{
    font-size: 2.5em;
  }
  h3{
    font-size: 2em;
  }
  li{
    font-size: 1.7em;
}

}

.socfoot{
  text-align: center;
  width: 100%;
  clear: both;
  }
  .socfoot>a>img {width: 3.5em; height: 3.5em;}
  .socfoot>a>img:first-child {margin: 1em 1em 1em 1em;}
  }
